@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fbfaf9;
    --primary: 39 126 255;
    --secondary: 107 114 128;
}

body[data-theme="Blue"] {
    --primary: 39 126 255;
}

body[data-theme="Mint"] {
    --primary: 0 176 159;
}

body[data-theme="Dark"] {
    --primary: 36 36 36;
}

body {
    background-color: var(--background);
    font-family: 'Inter', sans-serif;
}