@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fbfaf9;
    --primary-color: #0b99ff;
}

body[data-theme="Blueberry"] {
    --primary-color: #0b99ff;
}

body[data-theme="Mint"] {
    --primary-color: #00b09f;
}

body[data-theme="Dark"] {
    --primary-color: #242424;
}

@theme inline {
    --color-primary-color: var(--primary-color);
    --color-background: var(--background);
}

body {
    background-color: var(--background);
    font-family: 'Inter', sans-serif;
}